* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #4203a9, #90bafc);
    color: #fff;
    padding: 10px;
    margin: 0;
}

.box {
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}

.box h1 {
    font-size: 60px
}

.box h1 span {
    color: #ffff76;
}

.inputbox {
    margin: 40px 0;
    padding: 35px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.inputbox input {
    margin-right: 20px;
    padding: 14px 20px;
    flex: 1;
    position: relative;
    border: 0;
    outline: 0;
    border-radius: 5px;
    font-size: 18px;
}

.inputbox button {
    cursor: pointer;
    padding: 15px 30px;
    color: #222;
    background: yellow;
    border: 0;
    color: #333;
    outline: 0;
    border-radius: 5px;
    font-weight: 500;
}

.inputbox input::-webkit-calendar-picker-indicator {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    position: absolute;
    background-position: 100%;
    background-size: 30px;
    cursor: pointer;
}

.result span {
    color: #ffff76;
}
